In [ ]:
import pandas as pd

In [ ]:
import numpy as np
obj=pd.Series(np.arange(3), index=["a","b","c"])
index=obj.index
index

Index(['a', 'b', 'c'], dtype='object')

In [ ]:
index[1:]

Index(['b', 'c'], dtype='object')

In [ ]:
index[2]="k" #Type error

In [ ]:
labels=pd.Index(np.arange(4))
labels

Int64Index([0, 1, 2, 3], dtype='int64')

In [ ]:
obj1=pd.Series([2.3,5.5,-3,0],index=labels)
obj1

0    2.3
1    5.5
2   -3.0
3    0.0
dtype: float64

In [ ]:
obj1.index is labels

True

In [ ]:
peoples={"Dhaka":{2001 :2.5,2005:3.8,2010:10.7},
         "Cthng":{2002:1.9,2007:3.5,2010:4.5},
         "Cumilla":{2001:3.4,2007:6.6,2010:9.9}}
frame1=pd.DataFrame(peoples)
frame1

      Dhaka  Cthng  Cumilla
2001    2.5    NaN      3.4
2005    3.8    NaN      NaN
2010   10.7    4.5      9.9
2002    NaN    1.9      NaN
2007    NaN    3.5      6.6

In [ ]:
frame1.columns

Index(['Dhaka', 'Cthng', 'Cumilla'], dtype='object')

In [ ]:
"Dhaka" in frame1.columns

True

In [ ]:
2005 in frame1.index

True

In [ ]:
pd.Index(["Haa","LL","bbb","cc"])

Index(['Haa', 'LL', 'bbb', 'cc'], dtype='object')

Reindexing

In [ ]:
object2=pd.Series([1.2,2.5,3.7,4.0],index=["w","t","U","k"])
object2

w    1.2
t    2.5
U    3.7
k    4.0
dtype: float64

In [ ]:
object3=object2.reindex(["a","b","c","d"])
object3

a   NaN
b   NaN
c   NaN
d   NaN
dtype: float64

In [ ]:
object3=object2.reindex(["k","t","w","U"])
object3

k    4.0
t    2.5
w    1.2
U    3.7
dtype: float64

In [ ]:
frame=pd.DataFrame(np.arange(12).reshape((4,3)),index=["a","b","d","6"],columns=["Dhaka","Rajshahi","Cthng"])
frame

   Dhaka  Rajshahi  Cthng
a      0         1      2
b      3         4      5
d      6         7      8
6      9        10     11

In [ ]:
frame4=frame.reindex(index=["a","b","c","d","6"])
frame4

   Dhaka  Rajshahi  Cthng
a    0.0       1.0    2.0
b    3.0       4.0    5.0
c    NaN       NaN    NaN
d    6.0       7.0    8.0
6    9.0      10.0   11.0

In [ ]:
cityes=["Cumilla","Rangpur","Kg"]
frame.reindex(columns=cityes)

   Cumilla  Rangpur  Kg
a      NaN      NaN NaN
b      NaN      NaN NaN
d      NaN      NaN NaN
6      NaN      NaN NaN

In [ ]:
object5=pd.Series(np.arange(6.),index=["a","b","c","d","e","t"])
object5

a    0.0
b    1.0
c    2.0
d    3.0
e    4.0
t    5.0
dtype: float64

Droping

In [ ]:
object6=object5.drop(["a","t"])
object6

b    1.0
c    2.0
d    3.0
e    4.0
dtype: float64

In [ ]:
new_object=object5.drop(["c"])
new_object

a    0.0
b    1.0
d    3.0
e    4.0
t    5.0
dtype: float64

In [ ]:
new_frame=pd.DataFrame(np.arange(25).reshape((5,5)),index=["Nobel","Rayhan","Joy","Abir","Faruk"],columns=["First","Second","Third","Fourth","Fifth"])
new_frame

        First  Second  Third  Fourth  Fifth
Nobel       0       1      2       3      4
Rayhan      5       6      7       8      9
Joy        10      11     12      13     14
Abir       15      16     17      18     19
Faruk      20      21     22      23     24

In [ ]:
new_frame1=pd.DataFrame(np.arange(20).reshape((4,5)),index=["Nobel","Rayhan","Joy","Abir"],columns=["First","Second","Third","Fourth","Fifth"])
new_frame1

        First  Second  Third  Fourth  Fifth
Nobel       0       1      2       3      4
Rayhan      5       6      7       8      9
Joy        10      11     12      13     14
Abir       15      16     17      18     19

In [ ]:
new_frame2=pd.DataFrame(np.arange(30).reshape((6,5)),index=["Nobel","Rayhan","Joy","Abir","Faruk","Rana"],columns=["First","Second","Third","Fourth","Fifth"])
new_frame2

        First  Second  Third  Fourth  Fifth
Nobel       0       1      2       3      4
Rayhan      5       6      7       8      9
Joy        10      11     12      13     14
Abir       15      16     17      18     19
Faruk      20      21     22      23     24
Rana       25      26     27      28     29

#Index Droping

In [ ]:
new_frame2.drop(index="Rana")

        First  Second  Third  Fourth  Fifth
Nobel       0       1      2       3      4
Rayhan      5       6      7       8      9
Joy        10      11     12      13     14
Abir       15      16     17      18     19
Faruk      20      21     22      23     24

In [ ]:
new_frame2.drop(index=["Rana","Nobel"])

        First  Second  Third  Fourth  Fifth
Rayhan      5       6      7       8      9
Joy        10      11     12      13     14
Abir       15      16     17      18     19
Faruk      20      21     22      23     24

#Columns droping

In [ ]:
new_frame2.drop(columns=["Third"])

        First  Second  Fourth  Fifth
Nobel       0       1       3      4
Rayhan      5       6       8      9
Joy        10      11      13     14
Abir       15      16      18     19
Faruk      20      21      23     24
Rana       25      26      28     29

In [ ]:
new_frame2.drop(columns=["Third","First"])

        Second  Fourth  Fifth
Nobel        1       3      4
Rayhan       6       8      9
Joy         11      13     14
Abir        16      18     19
Faruk       21      23     24
Rana        26      28     29

In [ ]:
new_frame2.drop("Faruk",axis=0)

        First  Second  Third  Fourth  Fifth
Nobel       0       1      2       3      4
Rayhan      5       6      7       8      9
Joy        10      11     12      13     14
Abir       15      16     17      18     19
Rana       25      26     27      28     29

#Droping data row and columns
0 is row and
1 is columns
---

In [ ]:
new_frame2.drop("Faruk",axis=0)

        First  Second  Third  Fourth  Fifth
Nobel       0       1      2       3      4
Rayhan      5       6      7       8      9
Joy        10      11     12      13     14
Abir       15      16     17      18     19
Rana       25      26     27      28     29

In [ ]:
new_frame2.drop("First",axis=1)

        Second  Third  Fourth  Fifth
Nobel        1      2       3      4
Rayhan       6      7       8      9
Joy         11     12      13     14
Abir        16     17      18     19
Faruk       21     22      23     24
Rana        26     27      28     29

In [ ]:
new_frame2=pd.DataFrame(np.arange(30).reshape((6,5)),index=["Nobel","Rayhan","Joy","Abir","Faruk","Rana"],columns=["First","Second","Third","Fourth","Fifth"])
new_frame2

        First  Second  Third  Fourth  Fifth
Nobel       0       1      2       3      4
Rayhan      5       6      7       8      9
Joy        10      11     12      13     14
Abir       15      16     17      18     19
Faruk      20      21     22      23     24
Rana       25      26     27      28     29

In [ ]:
new1=pd.Series(np.arange(5),index=[1,2,3,4,5])
new1

1    0
2    1
3    2
4    3
5    4
dtype: int64

In [ ]:
new1[1]

0

In [ ]:
new1[2:
     ]

3    2
4    3
5    4
dtype: int64

In [ ]:
new1[1:4]

2    1
3    2
4    3
dtype: int64

In [ ]:
new1[new1<3]

1    0
2    1
3    2
dtype: int64

In [ ]:
new1[new1>4]

Series([], dtype: int64)

# Data cleninig and Preparation

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
new_values=pd.Series(["Nobel",np.nan,"ss",None])
new_values

0    Nobel
1      NaN
2       ss
3     None
dtype: object

In [ ]:
new_values.isna()

0    False
1     True
2    False
3     True
dtype: bool

In [ ]:
float_value=pd.Series([1,None,9,8],dtype='float32')
float_value

0    1.0
1    NaN
2    9.0
3    8.0
dtype: float32

# Filtering out Missing Data

In [ ]:
values=pd.Series([1,None,"TT",4,np.nan,None])
values

0       1
1    None
2      TT
3       4
4     NaN
5    None
dtype: object

In [ ]:
values.dropna()

0     1
2    TT
3     4
dtype: object

In [ ]:
values[values.notna()]

0     1
2    TT
3     4
dtype: object

In [ ]:
values2=pd.DataFrame([[1.,3.3,5.6,4.],[np.nan,3,np.nan,4],[np.nan,np.nan,np.nan,np.nan]])
values2

     0    1    2    3
0  1.0  3.3  5.6  4.0
1  NaN  3.0  NaN  4.0
2  NaN  NaN  NaN  NaN

In [ ]:
values2.dropna(how="all")

     0    1    2    3
0  1.0  3.3  5.6  4.0
1  NaN  3.0  NaN  4.0

In [ ]:
values2.dropna()

     0    1    2    3
0  1.0  3.3  5.6  4.0

In [ ]:
values2.dropna(0)

<ipython-input-13-6d971c1a5626>:1: FutureWarning: In a future version of pandas all arguments of DataFrame.dropna will be keyword-only
  values2.dropna(0)

     0    1    2    3
0  1.0  3.3  5.6  4.0

In [ ]:
values2[4]=np.nan
values2

     0    1    2    3  (4, 5)   4
0  1.0  3.3  5.6  4.0     NaN NaN
1  NaN  3.0  NaN  4.0     NaN NaN
2  NaN  NaN  NaN  NaN     NaN NaN

In [ ]:
values2

     0    1    2    3  (4, 5)   4
0  1.0  3.3  5.6  4.0     NaN NaN
1  NaN  3.0  NaN  4.0     NaN NaN
2  NaN  NaN  NaN  NaN     NaN NaN

In [ ]:
values2

     0    1    2    3  (4, 5)   4
0  1.0  3.3  5.6  4.0   False NaN
1  NaN  3.0  NaN  4.0   False NaN
2  NaN  NaN  NaN  NaN   False NaN

#Deleting a column ((4,5))

In [ ]:
values2.drop((4,5),axis=1)

     0    1    2    3   4
0  1.0  3.3  5.6  4.0 NaN
1  NaN  3.0  NaN  4.0 NaN
2  NaN  NaN  NaN  NaN NaN

In [ ]:
 data=pd.DataFrame(np.random.standard_normal((8,4)))
 data

          0         1         2         3
0 -0.453879 -0.230811  2.257469 -0.201992
1  0.040789 -0.727900 -1.339449 -0.668325
2  1.011128  0.618444 -1.149410 -0.082826
3 -0.330420 -0.158731  1.099631 -0.717689
4  0.538678 -0.877622 -0.379277  0.446699
5  0.193166 -0.640663  0.585396  0.863218
6  0.073969 -0.174083 -0.789854  1.289013
7 -0.216322 -1.089604  0.119663  0.134827

In [ ]:
data.iloc[:2,3]=np.nan
data.iloc[:2,2]=np.nan
data

          0         1         2         3
0 -0.453879 -0.230811       NaN       NaN
1  0.040789 -0.727900       NaN       NaN
2  1.011128  0.618444       NaN       NaN
3 -0.330420 -0.158731  1.099631 -0.717689
4  0.538678 -0.877622 -0.379277  0.446699
5  0.193166 -0.640663  0.585396  0.863218
6  0.073969 -0.174083 -0.789854  1.289013
7 -0.216322 -1.089604  0.119663  0.134827

In [ ]:
data.dropna()

          0         1         2         3
3 -0.330420 -0.158731  1.099631 -0.717689
4  0.538678 -0.877622 -0.379277  0.446699
5  0.193166 -0.640663  0.585396  0.863218
6  0.073969 -0.174083 -0.789854  1.289013
7 -0.216322 -1.089604  0.119663  0.134827

# Filling In Missing Data

In [ ]:
data.fillna(2)

          0         1         2         3
0 -0.453879 -0.230811  2.000000  2.000000
1  0.040789 -0.727900  2.000000  2.000000
2  1.011128  0.618444  2.000000  2.000000
3 -0.330420 -0.158731  1.099631 -0.717689
4  0.538678 -0.877622 -0.379277  0.446699
5  0.193166 -0.640663  0.585396  0.863218
6  0.073969 -0.174083 -0.789854  1.289013
7 -0.216322 -1.089604  0.119663  0.134827

In [ ]:
data.fillna({2:0.8,1:3})

          0         1         2         3
0 -0.453879 -0.230811  0.800000       NaN
1  0.040789 -0.727900  0.800000       NaN
2  1.011128  0.618444  0.800000       NaN
3 -0.330420 -0.158731  1.099631 -0.717689
4  0.538678 -0.877622 -0.379277  0.446699
5  0.193166 -0.640663  0.585396  0.863218
6  0.073969 -0.174083 -0.789854  1.289013
7 -0.216322 -1.089604  0.119663  0.134827

In [ ]:
data.fillna(method="ffill")

          0         1         2         3
0 -0.453879 -0.230811       NaN       NaN
1  0.040789 -0.727900       NaN       NaN
2  1.011128  0.618444       NaN       NaN
3 -0.330420 -0.158731  1.099631 -0.717689
4  0.538678 -0.877622 -0.379277  0.446699
5  0.193166 -0.640663  0.585396  0.863218
6  0.073969 -0.174083 -0.789854  1.289013
7 -0.216322 -1.089604  0.119663  0.134827

# Data Transforming

In [ ]:
data5=pd.DataFrame({"A1":["Two","Three"]*4+["Three"],"B1":[2,4,6,8,10,1,2,3,4]})
data5

      A1  B1
0    Two   2
1  Three   4
2    Two   6
3  Three   8
4    Two  10
5  Three   1
6    Two   2
7  Three   3
8  Three   4

In [ ]:
data5.duplicated()

0    False
1    False
2    False
3    False
4    False
5    False
6     True
7    False
8     True
dtype: bool

In [ ]:
data5.drop_duplicates()

      A1  B1
0    Two   2
1  Three   4
2    Two   6
3  Three   8
4    Two  10
5  Three   1
7  Three   3

In [ ]:
data5["C1"]=range(9)
data5

      A1  B1  C1
0    Two   2   0
1  Three   4   1
2    Two   6   2
3  Three   8   3
4    Two  10   4
5  Three   1   5
6    Two   2   6
7  Three   3   7
8  Three   4   8

In [ ]:
data5.drop_duplicates(subset=["B1"])

      A1  B1  C1
0    Two   2   0
1  Three   4   1
2    Two   6   2
3  Three   8   3
4    Two  10   4
5  Three   1   5
7  Three   3   7

In [ ]:
data5.drop_duplicates(["A1","B1"],keep="last")

      A1  B1  C1
2    Two   6   2
3  Three   8   3
4    Two  10   4
5  Three   1   5
6    Two   2   6
7  Three   3   7
8  Three   4   8

In [ ]:
iteam=pd.DataFrame({"Courses":["C","C++","JS","Java","Python","JQ","HTML"],
                    "Id":[1212,2313,1333,4452,3435,63423,74523]})
iteam

  Courses     Id
0       C   1212
1     C++   2313
2      JS   1333
3    Java   4452
4  Python   3435
5      JQ  63423
6    HTML  74523

In [ ]:
in_to_person={
    "C":"Nobel",
    "C++":"Nobel",
    "Python":"Siyam",
    "JS":"Siyam",
    "JQ":"Rayhan"
}

In [ ]:
iteam["Person"]=iteam["Courses"].map(in_to_person)
iteam

  Courses     Id  Person
0       C   1212   Nobel
1     C++   2313   Nobel
2      JS   1333   Siyam
3    Java   4452     NaN
4  Python   3435   Siyam
5      JQ  63423  Rayhan
6    HTML  74523     NaN

# Replacing value

In [ ]:
data=pd.Series([2.,-7878.,4.,-8888,-3333.,6.])
data

NameError: ignored

In [ ]:
data.replace(-3333,np.nan)

0       2.0
1   -7878.0
2       4.0
3   -8888.0
4       NaN
5       6.0
dtype: float64

In [ ]:
data.replace([-7878,-8888],[np.nan,9])

0       2.0
1       NaN
2       4.0
3       9.0
4   -3333.0
5       6.0
dtype: float64

In [ ]:
data.replace({4.:np.nan,-7878:0})

NameError: ignored

# Remaning Axis Indexs

In [ ]:
data=pd.DataFrame(np.arange(16).reshape((4,4)),index=["a","b","c","d"],columns=["two","three","four","Five"])
data

   two  three  four  Five
a    0      1     2     3
b    4      5     6     7
c    8      9    10    11
d   12     13    14    15

In [ ]:
def transform(x):
  return x[:4].upper()

In [ ]:
data.index.map(transform)

Index(['A', 'B', 'C', 'D'], dtype='object')

In [ ]:
data.index=data.index.map(transform)

In [ ]:
data

   two  three  four  Five
A    0      1     2     3
B    4      5     6     7
C    8      9    10    11
D   12     13    14    15

In [ ]:
data.rename(index=str.title,columns=str.upper)

   TWO  THREE  FOUR  FIVE
A    0      1     2     3
B    4      5     6     7
C    8      9    10    11
D   12     13    14    15

In [ ]:
data.rename(index={"A":"January"},
            columns={"four":"Zero"})

         two  three  Zero  Five
January    0      1     2     3
B          4      5     6     7
C          8      9    10    11
D         12     13    14    15